<html>
    <head>
        <title>My first page</title>
    </head>
    <body>
        <header>
            <img width="200px" src="https://cdn.pixabay.com/photo/2016/02/28/16/12/lighthouse-1227177_1280.jpg"/>
            <a href="http://google.ca">Google</a> 
            <a href="http://lighthouselabs.ca">Lighthouse</a>
            <a href="apply page"><button>APPLY</button></a>
        </header>
        <section>
            <h1>Hello world!</h1>
            <p>Here's the paragraph</p>
            <div>
                <p>Hello</p>
                <p>Next line</p>
            </div>
        </section>
    </body>
    
</html>